body {
    background-color: black;
    width: 100vw;
    font-family: 'Roboto Flex', sans-serif;
}
.container {
    width: 40vw;
    margin-inline: auto;
}
.section1 {
    background-color: #1F2937;
}

.nav-bar {
    display: flex;
    margin-inline: 20px;
    width: 80%;
}
.logo {
    width: 10rem;
    font-size: 24px;
    color: #F9FAF8;
}
.links {
    width: auto;
    font-size: 18px;
    color: #E5E7EB;
}
ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: right;
}
ul > li {
    margin-right: 10px;
}
.intro {
    display: flex;
    margin-inline: auto;
    width: 80%;
    column-gap: 10px;
    padding-bottom: 20px;
}
.intro-text {
    width: 50%;
}
.intro-img > img {
    width: auto;
    height: auto;
}
