body {
    background-color: black;
    width: 100vw;
    font-family: 'Roboto Flex', sans-serif;
}
.container {
    width: 40vw;
    margin-inline: auto;
}
.section1 {
    background-color: #1F2937;
}

.nav-bar {
    margin-inline: auto;
    width: 80%;
}
.inline-block {
    display: inline-block;
}
.logo {
    width: 40%;
    font-size: 24px;
    color: #F9FAF8;
}
.links {
    width: 40%;
    font-size: 18px;
    color: #E5E7EB;
}

.list {
    list-style-type: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.list > li {
    margin-right: 10px;
    width: 3rem;
}
.list > li:first-of-type {
    padding-left: 7rem;
}
.intro {
    display: flex;
    margin-inline: auto;
    width: 80%;
    column-gap: 10px;
    padding-bottom: 20px;
}
.intro-text {
    width: 50%;
}
.intro-img > img {
    width: auto;
    height: auto;
}
